@import '../../styles/utils';

.about {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media-up(md) {
    flex-direction: row;
  }

  img {
    border-radius: 5px;
  }

  h1 {
    margin-top: 0;
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  p {
    font-size: 2.4rem;
  }
}

.about__container {
  display: flex;
  justify-content: center;

  @include media-up(md) {
    width: 48%;
  }

  > div {
    max-width: 100%;
  }
}
