@import "utils";

:root {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: sans-serif;
    background-color: $bg-colour;
    color: $text-colour;
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 95vw;

    @include media-up(xlg) {
        max-width: 1200px;
    }
}

.filter {
    max-width: 95%;
    margin: 0 auto;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.mosaic {
    /* Prevent vertical gaps */
    line-height: 0;

    column-count: 2;
    column-gap: 1rem;
    column-fill: balance;

    @include media-up(sm) {
        column-count: 3;
    }

    @include media-up(md) {
        column-count: 4;
    }

    @include media-up(lg) {
        column-count: 5;
    }

    &__item {

        &--multiple-images {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }

        img {
            margin-bottom: 1rem;
            border-radius: 5px;
            width: 100%;
            height: auto;
        }
    }
}
