$font-family: sans-serif;

$dark-blue: rgb(8, 36, 46);
$off-white: rgb(231, 231, 231);

$bg-colour: $dark-blue;
$bg-colour-inverted: $off-white;

$text-colour: $off-white;
$text-colour-inverted: $dark-blue;
