@import "../../public/styles/utils";

.project-grid {
    /* Prevent vertical gaps */
    line-height: 0;

    column-count: 2;
    column-gap: 1rem;
    column-fill: balance;

    @include media-up(sm) {
        column-count: 3;
    }

    @include media-up(md) {
        column-count: 4;
    }

    @include media-up(lg) {
        column-count: 5;
    }
}
