@import "../../public/styles/utils";

header {
    position: sticky;
    top: 0;
}

#menuIconCheck {
    position: absolute;
    left: -9999px;
    &:checked {
        ~ .menu-icon .menu-icon__bar {
            background-color: $text-colour-inverted;

            &:first-child, &:last-child {
                top: 50%;
            }

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
                transform: translateX(8px);
            }
        }
    }
}

.menu__control {
    padding: 1.6rem;
}

.menu-icon {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 10;

    .menu-icon__bar {
        position: absolute;
        transition: all ease 0.35s;
        display: block;
        width: 25px;
        height: 4px;
        background-color: $text-colour;
        border-radius: 4px;
        right: auto;
        bottom: auto;
        left: auto;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            top: auto;
            bottom: 0;
        }
    }
}



.menu {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background-color: $bg-colour-inverted;
    transform: translateX(-110%);
    transition: all ease 0.5s;

    &--open {
        transform: translateX(0);
    }
}

.menu__list {
    padding: 3.2rem 1.6rem;
    list-style-type: none;
    color: $text-colour-inverted;
}
